/* CSS Document */
#Paragraph{
	text-align: center;
}

#Picture{
	text-align: center; 
}

#Content1{
	border: dotted 8px black;
}

#Content2{
  border-radius: 25px;
  border: 8px solid #73AD21;
  padding: 20px; 
  width: 750px;
  height: 100px; 
}


#la{
	background-image: url(p1.jpg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	font-size: 8pt;
}

#lala{
	position: absolute;
	top: 10px;
	left: 15px;
}

#P2{
	margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

#P3{
	float: right;
}
