/* CSS Document */
#Paragraph{
	text-align: center;
}

#Picture{
	text-align: center; 
}

#Content1{
	border: dotted 8px black;
}

#Content2{
  border-radius: 25px;
  border: 8px solid #73AD21;
  padding: 20px; 
  width: 750px;
  height: 100px; 
}



#P1{
	text-align: center;
}

p4{
	position:abosulte;
	top:10px;
	left:25px;
}
